---
import Layout from "../../layouts/Layout.astro";
import ThreeScene from "../../components/ThreeScene.astro";
import Card from "../../components/Card.astro";

import { getMergedBirdData } from "../../utils/birdDataMerger";

const mergedBirdData = getMergedBirdData();
---

<Layout title="Bird Index">
  <main>
    <h1>All Birds</h1>
    <!-- TODO: ViewTransition doesn't respect new imageSlug on subsequent page visits -->
    <!-- <ThreeScene
      imageSlug=`galah.jpg`
      cameraPosition={{ x: 0, y: -100, z: 100 }}
      cameraRotation={{ x: 0, y: 0, z: 0 }}
    /> -->
    <p>Here are all the birds:</p>
    <ul role="list" class="link-card-grid">
      {
        Object.entries(mergedBirdData).map(([slug, bird]) => (
          <Card
            href={`/birds/${slug}`}
            title={bird.name}
            body={
              bird.habitat
                ? `Habitat: ${bird.habitat}`
                : "No habitat information available"
            }
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
