{% extends "layouts/base.njk" %}

{% block bodyContent %}
    <article>
        {% set birdDetail = bird_data.birds[detail] %}

        <h1>Manual bird name is {{ bird_data.birds[detail].name }}</h1>
        <h1>Bird name is {{ birdDetail.name }}</h1>

        <p>Slug: {{ birdDetail.slug }}</p>

        <h2>Seasons</h2>
        <ul>
            {% for season, times in birdDetail.seasons %}
                <li>{{ season | capitalize }}: {{ times | join(", ") }}</li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
