---
import Layout from "../layouts/Layout.astro";
import ThreeScene from "../components/ThreeScene.astro";
import BirdSchedule from "../components/BirdSchedule.astro";
---

<Layout title="Cuckoo Clock">
  <main>
    <h1>Cuckoo Clock</h1>
    <!-- TODO: ViewTransition doesn't respect new imageSlug on subsequent page visits -->
    <!-- <ThreeScene
      imageSlug=`galah.jpg`
      cameraPosition={{ x: 20, y: -100, z: 50 }}
      cameraRotation={{ x: 0, y: 0, z: 0 }}
    /> -->
    <BirdSchedule />
  </main>
</Layout>
