---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BirdSchedule from "../components/BirdSchedule.astro";

import { getMergedBirdData } from "../utils/birdDataMerger";

const mergedBirdData = getMergedBirdData();
---

<Layout title="Cuckoo Clock">
  <main>
    <h1>Cuckoo Clock</h1>

    <BirdSchedule />
  </main>
</Layout>
