---
// src/pages/now.astro
import Layout from "../layouts/Layout.astro";

import { currentBird } from "../stores/birdTimeStore";

const bird = currentBird.get();

// We're not using Astro.redirect because of the ugly white flash
// if (bird) {
//   return Astro.redirect(`/birds/${bird.slug}`);
// }
---

<Layout title="Now">
  <main>
    <div>Redirecting...</div>
  </main>
</Layout>
