---
// src/pages/now.astro
import { currentBird } from "../stores/birdTimeStore";

const bird = currentBird.get();

if (bird) {
  return Astro.redirect(`/birds/${bird.slug}`);
} else {
  return Astro.redirect("/");
}
---

<div>Redirecting...</div>
