---
// src/components/Timestamp.astro

import { formatDate, getCurrentSeasonAndTime } from "../utils/timeUtils";
import { TIME_ZONE, LOCATION_STRING } from "../config";

const { time } = getCurrentSeasonAndTime();
const initialTime = time;
const initialDate = formatDate(
  new Date().toLocaleString("en-US", { timeZone: TIME_ZONE })
);
const location = LOCATION_STRING;
---

<div id="timestamp">
  <p>
    <span id="time">{initialTime}</span> ∙ <span id="date">{initialDate}</span> ∙
    {location}
  </p>
</div>

<style>
  p {
    text-transform: uppercase;
  }
</style>

<script>
  import { currentTime } from "../stores/birdTimeStore";
  import { formatDate } from "../utils/timeUtils";
  import { TIME_ZONE } from "../config";

  function updateTimestamp() {
    const currentTimeValue = currentTime.get();
    // console.log("Client-side current time:", currentTimeValue); // Debug log

    const timeElement = document.getElementById("time");
    const dateElement = document.getElementById("date");

    if (timeElement) {
      timeElement.textContent = currentTimeValue;
    }

    if (dateElement) {
      dateElement.textContent = formatDate(
        new Date().toLocaleString("en-US", { timeZone: TIME_ZONE })
      );
    }
  }

  currentTime.subscribe(updateTimestamp);

  // Initial update
  updateTimestamp();
</script>
