---
// src/components/Timestamp.astro
import { currentTime } from "../stores/birdTimeStore";
import { formatTime, formatDate } from "../utils/timeUtils";

const time = currentTime.get();
const date = new Date();
---

<div id="timestamp">
  <span id="time">{formatTime(time)}</span> ∙ <span id="date"
    >{formatDate(date)}</span
  >
</div>

<script>
  import { currentTime } from "../stores/birdTimeStore";
  import { formatTime, formatDate } from "../utils/timeUtils";

  currentTime.subscribe((time) => {
    const timeElement = document.getElementById("time");
    const dateElement = document.getElementById("date");
    if (timeElement) timeElement.textContent = formatTime(time);
    if (dateElement) dateElement.textContent = formatDate(new Date());
  });
</script>
